.wrapper {
  margin: 20px auto;
  max-width: 1180px;
}

.header .header__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.header .header__input{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}


input {
  width: 500px;
  padding: 10px;
}

button {
  padding: 10px;
  width: 300px;
  background-color: #F14F4F;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #CC4949;
}

button:active {
  background-color: #8C2828;
}

.task {
  padding: 10px;
  display: flex;
  column-gap: 40px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  word-break: break-word;
  background-color: #DBBBA9;
  border: 1px solid #282c34;
}

.task button {
  width: 300px;
}

.task__right {
  display: flex;
  align-items: center;
  column-gap: 40px;
}